<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
  <title>demo</title>
</head>

<body>
<div class="reveal">
  <h1>JS Frameworks</h1>

  {{> frameworks}}
  </div>
</body>

<template name="frameworks">
  <a class="button client {{isActive 'client'}}">client</a>
  <a class="button server {{isActive 'server'}}">server</a>
  <br/>
  <ul>
  {{#each frameworks}}
  <li>
    <span>{{name}}</span>
    <span>{{votes}}</span>
  </li>
  {{/each}}
  </ul>
  <br/>
  <a class="button reset active">Reset data</a>
</template>
