html {
  font-size: 20px;
}

.reveal{
  max-width:960px;
  margin-left:auto;
  margin-right:auto;
  font-family: "Helvetica";
  font-size: 1rem;
  overflow-y:auto;
}
div.reveal::-webkit-scrollbar { width:0 !important }

.reveal h1{
  font-size:3rem;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.reveal ul{
  width:80%;
  margin:0;
  padding:0;
}

.reveal ul li {
  list-style: none;
  padding: 0.5em;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  margin-bottom: 4px;
  cursor: pointer;
  min-height: 50px;
  line-height:50px;
}

.reveal ul li > span:last-child{
  float:right;
}

.reveal .button{
  display:inline-block;
  padding:0.5em;
  margin: 1em;
}
.reveal .button.active{
  background-color: rgba(0,0,0,0.6);
  border: solid 2px black;
}

@media (min-width: 1620px) {
  html {
    font-size: 32px;
  }
  .reveal {
    max-width: 1280px;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
  .reveal {
    max-width: 768px;
  }
}

